@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
body{
  background-color: rgb(190, 149, 190);
  color: black;
  font-family: "Assistant", sans-serif;
}
nav{
  background-color: white;
}



